<center>
<img src="https://drive.google.com/uc?id=1OGMWvsAkqw2oP5Bxx7VJ11vKQ4g2wiUv" height="300" width="500" alt="deepflow logo"/>
<h1> Python for Data Science : Introduction to Python üêç </h1>
</center>

‚≠ê **About this workshop** :  
This workshop takes a no-prerequisites approach to teaching the basics of Python through practice. It aims to keep it short and efficient without diving so much into the details. It is suitable for beginners starting with machine learning, data science and general-purpose programming.
 
üéØ **Learning Objectives** :  
After completing this workshop you will be able to:
*   Write basic code in Python
*   Work with various built-in data types
*   Use variables to perform operations
*   Work with various built-in data structures: lists, tuples, sets, and dictionaries.
*   Use loops and conditions
*   Write and call functions
*   Use Lambda functions

#  1. Hello World!

‚ö†Ô∏è To execute the Python code in the code cell below, click on the cell to select it and press **<kbd>Shift</kbd> + <kbd>Enter</kbd>.**

### 1.1 Your First Python Code

In [ ]:
# Simple print() method
print('Hello world! I am ELIZA, the first chatbot ever created in the 1960s!')

# Using format() method within print()
# The brackets {} will be replaced by the values within format() in the same order as they were passed.
print('Hello world! I am {}, the first chatbot ever created in the {}s!'.format('ELIZA', 1960))

### 1.2 Python Version

‚óæÔ∏è Python 3 is the most used Python version, in this workshop we will be using it exclusively.  
‚óæÔ∏è How do we know that our notebook is executed by a Python 3 runtime? Let's ask Python directly!

In [ ]:
!python3 --version

### 1.3 Comments in Python

‚óæÔ∏è To write comments in Python, use the number symbol # before writing your comment. When you run your code, Python will ignore everything past the # on a given line.

In [ ]:
print('Alan Turing is the founding father of artificial intelligence.') 
# print('Alan Turing was one of the most influential British figures of the 20th century')

In [ ]:
"""
This is a comment
written in
more than just one line
print('Alan Turing was one of the most influential British figures of the 20th century')
"""
print('Alan Turing is the founding father of artificial intelligence.')

# 2. Data Types

### 2.1 Basic Types

‚óæÔ∏è Let's start with the most common data types: strings, integers, floats and booleans.  
‚óæÔ∏è We can check the type of an expression by using the built-in type() function. Python refers to integers as int, floats as float, strings as str, and booleans as bool.

In [ ]:
# Integers can be negative or positive numbers:
print(1950, "is of ", type(1950))

In [ ]:
# Floats represent real numbers. 
# They include integer numbers and numbers with decimals. 
# They are represented in code by floating point numbers

print(1950.0, "is of ", type(1950.0))

In [ ]:
# A string is represented in Python by either using single quotes '123' or double quotes "123".

print("1950.0", "is of ", type("1950.0"))

In [ ]:
# Boolean objects can take on one of two values: True or False:

print(True, "is of ", type(True))

### 2.2 Type Casting

‚óæÔ∏è We can change the data type of an object using built-in functions like int(), float(), str(), ... to perform explicit type conversion.

In [ ]:
# Using float() : Convert a string or number to a floating point number, if possible.

print(float(9)) # int --> float
print(float("9.0")) # string --> float

In [ ]:
# Using int() : Convert a number or string to an integer

# When we cast a float into an integer, we'll lose the decimal information.
print(int(9.6)) # float --> integer
print(int("9")) # string --> integer

In [ ]:
# Using str(): Convert a float or an integer to a string

print(str(10)) # integer --> string
print(str(10.0)) # float --> string

In [ ]:
# If we try to convert string that has characters other than numbers, we'll get an error.

int('1abc') # 1abc is not valid for conversion

‚óæÔ∏è We can also convert Boolean objects to integer or floats, and vice versa!

# 3. Variables

‚óæÔ∏è A variable is a reserved location in the memory used to store data.    
‚óæÔ∏è Python is dynamically typed, so there is no need to explicitly define the variable data type like in other programming languages.  
‚óæÔ∏è The declaration happens automatically when we assign a value to the variable.

In [ ]:
# Creating a variable and assigning a value

name = "Alan Turing" # a string variable
birth_year = 1912 # an integer variable
is_alive = False # a boolean variable

print("{} was born in {}".format(name, birth_year))

‚óæÔ∏è Everything in Python is treated as an object so every variable is nothing but an object in Python.

In [ ]:
# variable name is an object of class str (which represents the string type)
print(name, type(name)) 

# we can also re-assign a new value to varible is_alive with a different data type
is_alive = "I am not alive!"
print(is_alive, type(is_alive))

In [ ]:
# Assign multiple values to multiple variables
n,m = 1, "Hello" 

# Assign the same value to multiple variables
x = y = z = 1 

print("n=",n,"m=",m)
print("x =",x,"y =",y,"z =",z)

# 4. Data Structures

‚óæÔ∏è Let's imagine you received movie recommendations from your friends and wanted to store all of them into a table, with specific information about each movie. Here's what you've got :

<center>
<table>
  <tr>
    <th>ID</th>
    <th>Title</th> 
    <th>Genre</th>
    <th>Release Year</th>
    <th>Rating</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Interstellar</td> 
    <td>Science Fiction</td>
    <td>2014</td>
    <td>8.5</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Jumanji</td> 
    <td>Adventure</td>
    <td>1995</td>
    <td>7.5</td>
  </tr>
  <tr>
    <td>3</td>
    <td>The Godfather</td> 
    <td>Crime/Drama</td>
    <td>1972</td>
    <td>9</td>
  </tr>
  <tr>
    <td>4</td>
    <td>The Dark Knight</td> 
    <td>Action/Adventure</td>
    <td>2008</td>
    <td>8</td>
  </tr>
  <tr>
    <td>5</td>
    <td>The Hustle</td> 
    <td>Comedy</td>
    <td>2019</td>
    <td>7</td>
  </tr>
  <tr>
    <td>6</td>
    <td>The Imitation Game</td> 
    <td>War/Drama</td>
    <td>2014</td>
    <td>8.5</td>
  </tr>

</table>
</center>

### 4.1 Lists

‚óæÔ∏è A list is a sequenced collection of different objects such as integers, strings, and can even include lists in it.  
‚óæÔ∏è Each element has an index in the list, and we can use it to access items within the list.

In [ ]:
# Let's create our first list, we type the elements separated by commas within []

movie_1 = [1, 'Interstellar',	'Science Fiction',	2014,	8.5]
print(movie_1)
print(type(movie_1))

In [ ]:
# How can we store the other movies? 
# --> We can define a list that stores all movies!

# Let's define an empty list that will contain our movies:
movies = []
movie_2 = [2,	'Jumanji',	'Adventure',	1995,	7.5]
movie_3 = [3,	'The Godfather',	'Crime/Drama',	1972,	9]
movie_4 = [4,	'The Dark Knight',	'Action/Adventure',	2008,	8]
movie_5 = [5,	'The Hustle',	'Comedy',	2019,	7]
movie_6 = [6,	'The Imitation Game',	'War/Drama',	2014,	8.5]

# let's check our movies list!
print(movies)

In [ ]:
# We should add our movies to the movies list, we will get a list of lists.

# append() adds a new element at the end of the list
movies.append(movie_1)
movies.append(movie_2)
movies.append(movie_3)
movies.append(movie_4)
movies.append(movie_5)
movies.append(movie_6)
print(movies)

‚ö†Ô∏è Indexing starts from 0 in Python!

In [ ]:
# Let's print the name of the first movie in the movies list 

print("The first movie name is",movies[0][1])

In [ ]:
# Can you print the fourth movie name? 
# Uncomment the line below and replace ______ with your answer!
# print("The fourth movie name is ", ______)

In [ ]:
# Let's print the name of the last movie in the list by using negative indexes!

print("The last movie name is",movies[-1][1])

In [ ]:
# How many movies do we have in the list?

print("We have", len(movies),"movies!" )

What if we want to retrieve the last two movies of the list? Python has a brilliant idea: Slicing

In [ ]:
# Let's slice the list to get last two movies!
# slicing operation returns a new list with the last two movies from the movies list
last_two_movies = movies[4:6] 
print(last_two_movies, type(last_two_movies))

# We can also do this!
print(movies[-2:])

Now we want to remove a movie from the list:

In [ ]:
# Deleting last element based on index

print("Before: number of movies =", len(movies))
del(movies[-1])
print("After: number of movies =", len(movies))

We want to remove the rating of the second movie:

In [ ]:
# Deleting an element using its value

second_movie = movies[1]
print('Before:', second_movie)

In [ ]:
second_movie.remove(7.5)
print('After:', second_movie)

In [ ]:
# BONUS:
# We can also use pop() which removes last element of a list
# second_movie.pop()

Let's change the rating of the first movie:

In [ ]:
# Access and assign new values to elements

new_rating = 10
print('Before:', movies[0][4])
movies[0][4] = new_rating
print('After:', movies[0][4])

### 4.2 Tuples

‚óæÔ∏è Tuple is an ordered sequence of objects same as a list.  
‚óæÔ∏è Tuples are immutable, once created they cannot be modified.  
‚óæÔ∏è Tuples are used to write-protect data and are usually faster than lists as they cannot change dynamically.

In [ ]:
# Let's create our first tuple, we type the elements separated by commas within ()

movie = (1, 'Interstellar',	'Science Fiction',	2014,	8.5)
print(movie)
print(type(movie))

In [ ]:
# Access values of elements 

print("Movie Title:", movie[1])
print('Genre:', movie[2])

‚ö†Ô∏è Unlike lists, when using tuples, we can't change the value of an element

In [ ]:
# Let's try changing the movie genre
movie[2] = "Action"

‚óæÔ∏è Lists and tuples share some common operations like using len(), slicing, and accessing an element with index.  
‚óæÔ∏è Operations that add items or remove items are not possible with tuples.

In [ ]:
# Get index of an element using its value

tup = ("Alan",1912,"Turing","Dead",1912)
print("Index of the elemnt {} is {}".format(1912,tup.index(1912)))

# Count the number of occurrences of a value in a tuple
print(tup.count(1912))

#### ‚≠ê Bonus

In [ ]:
# We can concatenate multiple tuples 

tuple1 = ( 67, 11, 13, 41, 17, 71, 59, 7, 61, 67, 2, 3 )
tuple2 = tuple1 + ( 97, 41 )
print(tuple2)

In [ ]:
# We can sort tuples (only when compatible data types are used in the tuple)

sorted_list = sorted(tuple2) # by default sorted() returns a list, but we can convert it into a tuple
sorted_tuple = tuple(sorted_list)
print(sorted_tuple)
print(type(sorted_tuple))

### 4.3 Sets 

‚óæÔ∏è Set is an unordered collection of unique items without indexing.  
‚óæÔ∏è Set is defined by values separated by comma inside braces { }. Items in a set are not ordered.

In [ ]:
# Let's create our first Set, we type the elements separated by commas within {}

movie_1 = {1, 'Interstellar',	'Science Fiction',	2014, 2014,	8.5}
print(movie_1)
print(type(movie_1))

# Note that only one element of value 2014 will be kept, sets have unique values. They eliminate duplicates.
# You may also notice that the order of elements changed


If there are no indexes in sets, how can we access an element?  
‚óæÔ∏è Unlike lists and tuples, we can't access or change the value of an element using indexes or slicing operations.  
‚óæÔ∏è We can add/remove elements:

In [ ]:
# add an element to the set

movie_1.add("I like this movie!")
print(movie_1)

In [ ]:
# remove an element from the set

movie_1.remove("I like this movie!")
print(movie_1)

#### ‚≠ê Bonus

In [ ]:
# We can add many elements to a set using a list of elements

my_comments = set()
my_comments.update(["I like this!", "Best movie ever!", "I recommend it"])
print(my_comments)

### 4.4 Dictionaries

‚óæÔ∏è Dictionary is an unordered collection of key-value pairs.  
‚óæÔ∏è Values can be of any type, and can be repeated.  
‚óæÔ∏è Keys must be of immutable type like (string, number or tuple with immutable elements) and must be **UNIQUE**.

In [ ]:
# Let's create our first Dictionary, we type the elements separated by commas within {}

movie_1 = {
    # key:value
    "ID":1,
    "Title":'Interstellar',	
    "Genre":'Science Fiction',	
    "Release Year":2014,	
    "Rating":8.5
    }

In [ ]:
# Let's retrieve values using [key], this method throws an error if the key is not found.
print("Title:", movie_1["Title"])
print("Genre:", movie_1["Genre"])

# We can also use get(), this method returns None if the key is not found.
print("Rating:", movie_1.get("Rating"))

In [ ]:
# Adding a new item by defining a new pair of key:value
movie_1["Comment"] = "I like this movie"
print("Comment:", movie_1.get("Comment"))

# Updating an item's value by using an existing key 
new_rating = 10
movie_1["Rating"] = new_rating
print("Rating:", movie_1.get("Rating"))

In [ ]:
# Let's check the changes
print(movie_1)

In [ ]:
# Let's remove the item with key Comment

# pop() takes the key as argument
movie_1.pop("Comment")
print(movie_1)

# 5. Conditons

### 5.1 If statement

In [ ]:
if 2 == 2: # The condition is evaluated in a boolean context (it's either true or false)
  print("True") # This statement is executed if the condition is evaluated as true

### 5.2 if ... else statement

In [ ]:
if 5 < 2:
  print("True")
else:
  print("False") #This statement is executed if the first codition in the if statement is evaluated as false

### 5.3 if ... elif ... else

In [ ]:
a = 5
#If there is more than 2 conditions, they can be specified with an elif statement
if a < 4:
  print("a < 4")
elif a < 6:
  print("4 <= a <6") 
else:
  print("a >= 6")

### 5.4 '==' vs 'is'

In [ ]:
# == compares the values of two objects 
# is evaluates if two variables point to the same object in memory

a = [2, 4, 5]
b = [2, 4, 5]

print(b==a)

In [ ]:
a is b

a is b is equal to the expression id(a) == id(b) where id returns the address of the object in memory. <br>
The id() function tells you the memory location of the object pointed to by the variable name, not anything about the variable name itself

### ‚≠ê Bonus

#### assert Statement

Assertions are the condition or boolean expression which are always supposed to be true in the code. If they're not true, an error is thrown. <br><br>
Why use them? <br>
Among manye other uses, the assert statement can be used in a notebook environement to quickly check whether two objects are equal

In [ ]:
# instructions
x = 5
assert x == 3
# other instructions
x = x + 3

#### Ternary Operator

A terary operator allows to write a conditional if else statement in on line

In [ ]:
# let's take en example
a  = 2
b = 3

if a == b:
  print('a is equal to b')
else:
  print('a is not equal to b')

In [ ]:
# same conditional expression written in ternary operator
print('a is equal to b') if a == b else print('a is not equal to b')

# 6. Loops

Now we will learn how to iterate over a sequence of elements using the different variations of loops.

In [ ]:
# Iterating over the elements of a list

# Let's iterate and sum postives numbers!
numbers = [1,1,2,3,5,8,13,21,34,55,89,-89,-55]

sum = 0
for number in numbers:
  if number > 0:
    sum = sum + number

print("Sum =",sum)

In [ ]:
# Iterating over the elements of a tuple
# let's loop over movies and concatenate all movies in one a string

movies = ('Interstellar','Jumanji','The Godfather','The Dark Knight','The Hustle','The Imitation Game')
my_movies = "My favorites movies are : "

for movie in movies:
  my_movies = my_movies + movie + " / "

print(my_movies)

In [ ]:
for i in range (len(movies)):
    print("The {} movie is {}".format(i+1,movies[i]))

In [ ]:
# Find all the movies indexed by an even number
for j in range(0,len(movies),2):
    print("Index {} : {}".format(j,movies[j]))

In [ ]:
# Loops and dictionaries
movie_1 = {
    # key:value
    "ID":1,
    "Title":'Interstellar',
    "Genre":'Science Fiction',
    "Release Year":2014,
    "Rating":8.5
    }
  
## Iterating over the keys of a dictionary 
for key in movie_1.keys():
  print(key)

In [ ]:
## Iterating over the values of a dictionary 

for value in movie_1.values():
  print(value)

In [ ]:
## Iterating using items()

for item in movie_1.items():
  print(item)

# What's the type of item? --> a tuple (key,value)

In [ ]:
## Iterating over pairs of (key,value) of a dictionary 

for key, value in movie_1.items():
  print(key,":", value)

# 7. Functions

Like in any other programming language, a function is a block of code that's only run when it's called.

In [ ]:
def my_function():
  print("Hello from function")

In [ ]:
my_function()

Parameters can be passed to functions

In [ ]:
def my_function_2(name):
  print("Hello my name is "+ name)

In [ ]:
my_function_2("Christopher Nolan")

We can also pass default parameters to the function. The parameters' values are set in the function definition and will remain the same unless changed in the function **call**

In [ ]:
def my_function_3(name, location = "Warner Studios"):
  print("Hello my name is "+name +" and I'm currently in "+location)

In [ ]:
my_function_3("Kubrick")

In [ ]:
my_function_3("Kubrick", location="Warnr Studios Section A")

In case the number of parametrs isn't initally known, an * can be added before the parameter name

In [ ]:
def my_function_4(*names):
  print("My name is  " + names[2])

my_function_4("DiCaprio", "Kubrick", "Fincher","Pitt","Tarantino")

In case the number of key word parametrs isn't initally known, ** can be added before the parameter name

In [ ]:
def my_function_5(name3, name2, name1):
  print("My name is  " + name3)

my_function_5(name1 = "Tarantino", name2 = "Kubrick", name3 = "Pitt")

You can use a return statement to return multiple values from a function

In [ ]:
import statistics as st

def describe(sample):
    return st.mean(sample), st.median(sample), st.mode(sample)

In [ ]:
sample = [10, 2, 4, 7, 9, 3, 8, 6, 7]
mean, median, mode = describe(sample)

In [ ]:
print("Mean: {}\nMedian: {}\nMode: {}".format(mean, median,mode))

This is called unpacking. The function returns a tuple and each element gets assigned to a variable

In [ ]:
#the return values can be stored in a tuple instead of unpacking them
desc = describe(sample)

In [ ]:
desc

In [ ]:
type(desc)

**Lambda Function**

In [ ]:
res = lambda a : a[0]**2
print(res(desc)) #11

In [ ]:
robot = lambda ch : ch[:6]
ch = "Sophia is a social humanoid robot developed by the Hong Kong-based company"
print(robot(ch))